
.appHeader {
    text-align: center;
    color: whitesmoke;
    font-family: sans-serif;
    background-color: rgb(29, 29, 29);
    font-weight: bold;
    height: 125px;
    padding-top: 20px;
    width: 80%;
    margin: 0 auto;
  }