
.appFooter {
    text-align: center;
    color: whitesmoke;
    font-family: sans-serif;
    background-color: rgb(29, 29, 29);
    height: 25px;
    padding-top: 25px;
    width: 80%;
    margin: 0 auto;
    clear: both;
  }